.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  